[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
line-bot-sdk = "*"
flask = "*"
pandas = "*"
bs4 = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
